*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 50vh;
    width: 50vh;
    border: .3em #000000 solid;
    border-radius: 1em;
    overflow: hidden;
}
.block{
    border: .1em #000000 solid;
    height: auto;
    width: auto;
}
.block:hover{
    background-color: red;
}

.blue:hover{
    background-color: blue;
}